---
# tasks file for psm

# Validate Parameters
- name: Validate input parameters
  include_tasks: psm_validateparameters.yml

- name: Extract PSM package
  include_tasks: psm_extract.yml
  when:
    - psm_extract

- name: Running PSM prerequisities
  include_tasks: psm_prerequisites.yml
  when:
    - psm_prerequisites

- name: Running PSM uninstall
  include_tasks: psm_uninstall.yml
  when:
    - psm_uninstall

- name: Running PSM install
  include_tasks: psm_install.yml
  when:
    - psm_install

- name: Running PSM postinstall
  include_tasks: psm_postinstall.yml
  when:
    - psm_exists
    - psm_postinstall

- name: Running PSM hardening
  include_tasks: psm_hardening.yml
  when:
    - psm_exists
    - psm_hardening

- name: Running PSM registration
  include_tasks: psm_registration.yml
  when:
    - psm_registration
    - psm_exists
    - not psm_registered

- name: Running psm upgrade
  include_tasks: psm_upgrade.yml
  when:
    - psm_upgrade

- name: Running PSM clean
  include_tasks: psm_clean.yml
  when:
    - psm_clean
