---
# tasks file for psm prerequisities

- name: Install .NET Framework 4.8
  win_chocolatey:
    name: dotnetfx
    state: present
  register: dotnetfx_response

- name: Reboot host if required
  win_reboot:
    reboot_timeout: 300
  when: dotnetfx_response.rc == 3010

- name: Update NLA & UpdateRDSSecurityLayer installation
  ansible.windows.win_shell: |
    try
    {
        $filePath = "{{ psm_installationautomation_folder }}\\Prerequisites\\PrerequisitesConfig.xml"
        $xml = [xml](Get-Content $filePath)
        $step1 = $xml.SelectSingleNode("//Step[@Name = 'DisableNLA']")
        $step1.Enable = 'Yes'
        $step2 = $xml.SelectSingleNode("//Step[@Name = 'UpdateRDSSecurityLayer']")
        $step2.Enable = 'Yes'
        $xml.Save($filePath)
        exit 0
    }
    catch
    {
        Write-Output "Error occured during SetAtrributeInXML"
        exit 1
    }

- name: Preinstall Block
  block:

    - name: Run PSM prerequisities
      ansible.windows.win_shell: |
        Set-Location '{{ psm_installationautomation_folder }}'
        $Action = .\Execute-Stage.ps1 '{{ psm_installationautomation_folder }}\Prerequisites\PrerequisitesConfig.xml' -silentMode "Silent" -displayJson -delayedrestart
        $Action | Out-File -FilePath '{{ psm_prerequisites_log }}'
        $Result = Get-Content '{{ psm_prerequisites_log }}' -Raw | ConvertFrom-Json
        if ($Result.isSucceeded -ne 0) {
            exit 1
        } else {
            exit 0
        }

    - name: Get log path for prerequisities
      ansible.windows.win_shell: |
        $Result = Get-Content "{{ psm_prerequisites_log }}"
        Write-Output $Result
      register: log_result

    - name: Enable AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: AutoAdminLogon
        data: 1
      when:
        - item.restartRequired
        - psm_restart
      with_items:
        - "{{ log_result.stdout | from_json }}"

    - name: Set default username for AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: DefaultUsername
        data: "{{ ansible_user }}"
      when:
        - item.restartRequired
        - psm_restart
      with_items:
        - "{{ log_result.stdout | from_json }}"

    - name: Set default password for AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: DefaultPassword
        data: "{{ ansible_password }}"
      with_items:
        - "{{ log_result.stdout | from_json }}"
      when:
        - item.restartRequired
        - psm_restart

    - name: Reboot when PSM Prerequisites requires reboot
      ansible.windows.win_reboot:
        reboot_timeout: 300
      with_items:
        - "{{ log_result.stdout | from_json }}"
      when:
        - item.restartRequired
        - psm_restart

    - name: Remove AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: AutoAdminLogon
        state: absent
      with_items:
        - "{{ log_result.stdout | from_json }}"
      when:
        - item.restartRequired
        - psm_restart

    - name: Remove username for AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: DefaultUsername
        state: absent
      with_items:
        - "{{ log_result.stdout | from_json }}"
      when:
        - item.restartRequired
        - psm_restart

    - name: Remove password for AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: DefaultPassword
        state: absent
      with_items:
        - "{{ log_result.stdout | from_json }}"
      when:
        - item.restartRequired
        - psm_restart

    - name: Continue execute PSM prerequisities after restart (if required)
      ansible.windows.win_shell: |
        Set-Location "{{ psm_installationautomation_folder }}"
        $Action = .\Execute-Stage.ps1 "{{ psm_installationautomation_folder }}\Prerequisites\PrerequisitesConfig.xml" -silentMode "Silent" -displayJson
        $Action | Out-File -FilePath "{{ psm_prerequisites_log }}"
        $Result = Get-Content "{{ psm_prerequisites_log }}" -Raw | ConvertFrom-Json
        if ($Result.isSucceeded -ne 0) {
            exit 1
        } else {
            exit 0
        }

    - name: Get log path for prerequisities
      ansible.windows.win_shell: |
        $Result = Get-Content "{{ psm_prerequisites_log }}"
        Write-Output $Result
      register: log_result

    - name: Fetch prerequisites log from path
      ansible.builtin.fetch:
        src: '{{ item.logPath }}'
        dest: '{{ lookup("config", "DEFAULT_LOG_PATH") | dirname }}/psm/{{ inventory_hostname }}_prerequisites.log'
        flat: yes
      with_items:
        - "{{ log_result.stdout | from_json }}"

    - name: Enable AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: AutoAdminLogon
        data: 1
      when:
        - item.restartRequired
        - psm_restart
      with_items:
        - "{{ log_result.stdout | from_json }}"

    - name: Set default username for AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: DefaultUsername
        data: "{{ ansible_user }}"
      when:
        - item.restartRequired
        - psm_restart
      with_items:
        - "{{ log_result.stdout | from_json }}"

    - name: Set default password for AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: DefaultPassword
        data: "{{ ansible_password }}"
      with_items:
        - "{{ log_result.stdout | from_json }}"
      when:
        - item.restartRequired
        - psm_restart

    - name: Reboot when PSM Prerequisites requires reboot
      ansible.windows.win_reboot:
        reboot_timeout: 300
      with_items:
        - "{{ log_result.stdout | from_json }}"
      when:
        - item.restartRequired
        - psm_restart

    - name: Remove AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: AutoAdminLogon
        state: absent
      with_items:
        - "{{ log_result.stdout | from_json }}"
      when:
        - item.restartRequired
        - psm_restart

    - name: Remove username for AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: DefaultUsername
        state: absent
      with_items:
        - "{{ log_result.stdout | from_json }}"
      when:
        - item.restartRequired
        - psm_restart

    - name: Remove password for AutoAdminLogon
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
        name: DefaultPassword
        state: absent
      with_items:
        - "{{ log_result.stdout | from_json }}"
      when:
        - item.restartRequired
        - psm_restart

  rescue:

    - name: Get log path for preinstall
      ansible.windows.win_shell: |
        $Result = Get-Content "{{ psm_prerequisites_log }}"
        Write-Output $Result
      register: log_result

    - name: Fetch prerequisites log from path
      ansible.builtin.fetch:
        src: '{{ item.logPath }}'
        dest: '{{ lookup("config", "DEFAULT_LOG_PATH") | dirname }}/psm/{{ inventory_hostname }}_prerequisites.log'
        flat: yes
      with_items:
        - "{{ log_result.stdout | from_json }}"

    - ansible.builtin.fail:
        msg: 'ERROR: Preinstall failed. For more info check {{ lookup("config", "DEFAULT_LOG_PATH") | dirname }}/psm/{{ inventory_hostname }}_preinstall.log'
